/node_modules
/public/hot
/public/storage/*
/public/dataGIS/images/foto_bangunan
/public/dataGIS/images/peta_aggregat_penduduk_manado
/public/dataGIS/images/peta_tematik
/public/dataGIS/Shape
/public/dataGIS/Other
/public/video/*
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
